<p>
  <b>Japanese romaji:</b>
  <%=h @japanese.japanese_romaji %>
</p>

<p>
  <b>Japanese kana:</b>
  <%=h @japanese.japanese_kana %>
</p>

<p>
  <b>Swedish:</b>
  <%=h @japanese.swedish %>
</p>


<%= link_to 'Edit', edit_japanese_path(@japanese) %> |
<%= link_to 'Back', japaneses_path %>
